In [1]:
import pandas as pd

In [2]:
people_data = {
    "first": ["Sam", "Jack", "Samir", "Arun"],
    "last": ["Das", "Smith", "Khan", "Banerjee"],
    "email": ["sam.das@gmail.com", "jack.smith@gmail.com", "samir.khan@gmail.com", "arun.banerjee@gmail.com"]
}

In [3]:
df = pd.DataFrame(people_data)

In [4]:
df

   first      last                    email
0    Sam       Das        sam.das@gmail.com
1   Jack     Smith     jack.smith@gmail.com
2  Samir      Khan     samir.khan@gmail.com
3   Arun  Banerjee  arun.banerjee@gmail.com

In [5]:
df['email']

0          sam.das@gmail.com
1       jack.smith@gmail.com
2       samir.khan@gmail.com
3    arun.banerjee@gmail.com
Name: email, dtype: object

In [6]:
type(df['email'])

pandas.core.series.Series

In [7]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [8]:
df.iloc[[0, 1], [0,2]]

first                  Sam
last                   Das
email    sam.das@gmail.com
Name: 0, dtype: object